/* reset css */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.active {
  background-color: #5d9c27 !important;
	color: white !important;
}

label {
	font-weight: normal;
}
nav a {
	margin-left: 1px;
	margin-right: 1px;
  border-radius: 0 !important;
  
}

.foot_act  {
  text-align: center;
  font-size: 13px;

}

footer {
	background-color: grey;
	color: white;
  text-align: center;
  align-items: center;
	
}


label.error {
color: red;
font-size: 14px;

}
body {
	overflow-x: hidden;
  text-align: center;
  
	
}
	

  .foot_act p {
    width: 50%; /* định nghĩa chiều rộng của div */
    margin: auto; /* đặt margin auto để căn giữa div */
    line-height: 1.5;
    
  }
 




















  
  
  
  