/* reset css */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.homepage {
    padding-bottom: 20px;
    width: 1170 px !important;
    /* padding-left:180px; */
    
} 

.theme {
    position: relative;
    width: 100%;
    padding-top: 10px;
  }
  
  .theme span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    padding-top: 9px;
    text-align: center;
  }

  .homepagetech {
    width: 1170px !important;
  }

   .settingshomepage {
     margin-left:90px;
    width: 1170px;
    position: relative;
    justify-content: center;
    align-items: center;
  } 

  .settingshomepage img {
      width: 230px;
      height: 160px;
      margin: 10px; 
      border-radius: 15px;
  } 

   .settingshomepage .slick-prev {
     
     left: -20px !important;
    
   }

   .settingshomepage .slick-next {
    
    right: -30px !important;
  }

  
  .settingshomepage .slick-dots {
    padding-top: 100px !important;
    position: none;
  }

  .homepagetech .slick-slide div span {
    color: #2a6496;
    font-weight: bold;
  }
  

  
  
  
  
  