/* reset css */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.homepage {
  padding-bottom: 20px;
  margin: 0 auto;
} 


.theme {
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    align-items: center;
  }
  
  .theme span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-weight: bold;
    padding-top: 9px;
    text-align: center;
  }


/* ............................................. */
  .homepagetech {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    justify-content: center;
  
  }

  .settingshomepage .imga {
    height: 140px;
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
     
    
  }


  .settingshomepage img {
    height: 140px;
    width: 206px;
    border-radius: 15px;
      
  } 

  .settingshomepage span {
    color: #2a6496;
    font-size: 13px;
    font-weight: bold
    
  } 

  .settingshomepage .slick-initialized .slick-slide {
    display: block;
    margin: 0 10px;
  }


   .settingshomepage .slick-prev {
     left: -30px !important;
   }

   .settingshomepage .slick-next {
    right: -30px !important;
    
  }

  
  /* .settingshomepage .slick-dots {
    padding-top: 100px !important;
    position: none;
  } */
 

  



  /* ................................................... */

  .homepage-global-group {
    height: 680px !important; 
    margin: 0 auto; 
/* để canh khu div vô giữa dùng margin: 0 auto */
    padding-top: 10px !important;
    
  }

  .homepage-left{
    /* khi đã chia cột col = {md = 3}  không cần set kích thước bên trái, phải*/
    /* width: 282px;
    height: 680px; */
    float: left;  /*quan trọng khi chia cột nằm bên trái và các phần tử khác nằm bên phải */
    padding-left: 0px !important; 
    padding-right: 0px !important;
  
  }
  .block-global-1 {
    width: 281px;
    height: 145px;
  
  }

  
  .block-top-1 {
    background-color:#7db942;
    width: 278px;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 5px 5px 0 0;
    padding-left: 15px;
  }

  .block-top-1 img {
   margin-bottom: 3%;
  }

  .block-top-1 span {
    color: white;
    font-size: 15px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: tahoma;
    margin-left: 10px;
  }

  .block-body-1 {
    text-align: center;
    
  }
  .block-body-1 img {
    width: 260px;
    height: 100px;
  }

  .block-global-2 {
    margin-top: 30px;
    width: 281px;
    height: 245px;
  
  }

  .block-body-2 img {
    width: 278px;
    height: 200px;

  }


  .block-global-3 {
    margin-top: 30px;
    width: 278px;
    height: 202px;
    border: 1px solid grey;
    
  }
  
  
  .my-list li {
    padding: 5px 0; /* Khoảng cách dọc giữa các phần tử */
    border-bottom: 0.5px solid rgb(218, 213, 213);
    width: 90%; /* Chiều rộng của phần tử là 50% */
    color: #428bca;
   
  }
  .my-list li:last-child {
    border-bottom: none; /* Không có đường dọc */ }

 
/* -------------Right----------------- */
    .homepage-right {
      /* khi đã chia cột col = {md = 9}  không cần set kích thước bên trái, phải*/
      /* width: 850px;
      height: 681px; */
      float: left;
     
    }

    .block-product-1 {
      background-color:#7db942;
      width: 100%;
      height: 40px;
      margin-bottom: 5px;
      border-radius: 5px 5px 0 0;
      padding-left: 15px;
    }
    .block-product-top-1 img {
      margin-bottom: 1%;
     }

     .block-product-top-1 span {
      color: white;
      font-size: 15px;
      line-height: 40px;
      text-transform: uppercase;
      font-weight: bold;
      font-family: tahoma;
      margin-left: 10px;
    }

    /* chỉnh có viền tròn chỉnh 2 cái viền .home-dv-pic và ảnh img */
   .home-dv-pic {
  height: 240px;
  margin:  20px 0;
  /* viền tròn */
  border-radius: 50%; 
  overflow: hidden;
  /* cho phép ẩn phần của ảnh nằm ngoài vòng tròn */
  border: 2px solid rgb(196, 190, 190);
    }

  .home-dv-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* sẽ điều chỉnh tỷ lệ khung hình của ảnh để nó vừa với kích thước của phần tử cha, đồng thời giữ nguyên tỷ lệ của ảnh. */ 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

  .home-dv-pic img:hover {
      transform: scale(1.3);
      
  }  

  .home-dv-title {
    margin: 0 auto;
  }

  .home-dv-title a {
  text-decoration: none;
  } 

  .home-dv-title span {
    align-items: center;
    justify-content: center;
    display: flex;
    color: #2a6496;
    font-weight: bold;
  } 

  .homepagehotproducts .homepagetheme {
    padding-top: 20px;
  }

  .settingsproduct img {
    width: 150px;
    height: 150px;
    margin: 10px; 
} 
.homepagehot {
 padding-top: 10px;
 
} 
.settingsproduct {
  height: 170px;
  margin: 0 auto;
 box-shadow:  inset 0 0 1em #dedede, 0 0 1em #70b043 ;

}

  .theme {
      position: relative;
      width: 100%;
      padding-top: 10px;
      text-align: center;
      align-items: center;
    }
    .theme img {
      max-width: 100%;
      height: auto;
    }
    .theme span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color:white;
      font-weight: bold;
      padding-top: 9px;
      text-align: center;
    }

    /* Điều kiện cho màn hình md và lớn hơn */
    @media (min-width: 992px) { 
      .col-md-4 {
        float: left;
      }
    }

  @media only screen and (max-width: 992px) {
    .homepage-left,
    .homepagehotproducts {
       display: none;
    }
    .theme span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color:white;
      font-weight: bold;
      padding-top: 9px;
      text-align: center;
      font-size: 13px;
    }

    .col-sm-6 {
      display: inline-block;
    }

    .theme span {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color:white;
      font-weight: bold;
      font-size: 10px;
      padding-top: 9px;
      text-align: center;
    }
    .settingshomepage .slick-slide img {
      padding: 0 10px; 
    }
    
    
  }
  
    

   

   



    
  
  
  
  
  
  