

.slick-slide img {
    display: inline-block !important;
   }
   
    .slick-dots {
     bottom: 20px !important;
   } 
   
   /* reset nút button qua lại */
   .slick-prev {
     /* dùng để đặt nút button trên ảnh */
     z-index: 1; 
     left: 100px !important;
     font-size: 100px;
   }
   .slick-next {
     z-index: 1; 
     /* z-index quan trọng */
     right: 100px !important;
   }
   
   /* hiệu ứng chuyển ảnh bìa */
   .slick-slider {
     position: relative;
     display: block;
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     border: none;
   }
   
   .slick-slide {
     position: relative;
     display: none;
     box-sizing: border-box;
     float: left;
     margin: 0;
     padding: 0;
     width: 100%;
     opacity: 0;
     transition: opacity 0.1s ease-in-out;
   }
   
   .slick-active {
     display: block;
     opacity: 1;
   }
   
   
   
   /* khi rê chuột vô ảnh mới hiện nút chuyển trang */
   /* .slider-container {
     position: relative;
   }
   
   .slick-prev,
   .slick-next {
     display: none !important;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     z-index: 1;
     background-color: rgba(0, 0, 0, 0.3);
     color: white;
     padding: 10px;
     cursor: pointer;
     transition: opacity 0.3s;
   }
   
   .slick-slider:hover .slick-prev,
   .slick-slider:hover .slick-next {
     display: block !important;
   }
   
   .slick-prev:hover,
   .slick-next:hover {
     opacity: 0.7;
   } */
   
   .slider-container {
     position: relative;
   }
   
   .slick-prev,
   .slick-next {
     display: none;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     z-index: 1;
     background-color: rgba(0, 0, 0, 0.3);
     color: white;
     padding: 10px;
     cursor: pointer;
     transition: opacity 0.1s;
   }
   
   .slick-slider:hover .slick-prev,
   .slick-slider:hover .slick-next {
     display: block;
   }
   
   .slick-prev:hover,
   .slick-next:hover {
     opacity: 0.7;
   }
   
   .slick-dots {
     position: absolute;
     bottom: 0;
     margin: 0;
     padding: 10px;
     list-style: none;
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 40px;
   }
   
   .slick-dots li {
     margin: 0 5px;
     width: 10px;
     height: 10px;
     border-radius: 50%;
     background-color: white;
     cursor: pointer;
     transition: background-color 0.1s;
   
   }
   
   .slick-dots li button {
     background-color: #5d9c27;
     border-color: #5d9c27;
   }
   .slick-dots li.slick-active {
     background-color: #5d9c27;
   }